<!DOCTYPE HTML>

<html lang="de">

<head>
    <title>Hilfe Fuchs</title>
    <meta charset="UTF-8">
    <meta name="author" content="David Penkowoj">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../scripts/faq-data.js" defer></script>
    <script type="module" src="../scripts/module-loader.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/styles/faq.css">
    <link rel="shortcut icon" href="fuchs.png" type="image/x-icon">
</head>

<body>
    <noscript>Ihr Browser unterstützt einige Features dieser Seite nicht!</noscript>
    <h1>FAQ</h1>
    <div id="form">
        <input id="search-bar" type="text" spellcheck="false" autocomplete="off">
        <button id="search-button" type="button">Suchen</button>
        <button id="search-clearer" type="button">Zurücksetzen</button>
    </div>
    <div id="list">
        <h2 id="empty" class="hidden">Leider wurde nichts gefunden</h2>
    </div>
</body>

</html>