<!DOCTYPE html>

<html>

<head>
  <title>Poker</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../assets/poker/cards.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/poker.css" />
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="scripts/poker.js" defer></script>
</head>

<body>
  <div class="information-wrapper">
  <h1>Poker</h1>
    <img class="title-cards" src="../assets/poker/cards.png">
    <div class="login">
      <input id="username" autocomplete="off" placeholder="Name">
      <button id="login">Beitreten</button>
    </div>
  </div>
  <div class="game">
    <div class="player-list">
      <p class="player">Jesper</p>
      <p class="player">Jandrik</p>
      <p class="player"></p>
      <p class="player">David</p>
      <p class="player"></p>
      <p class="player">Torben</p>
      <p class="player"></p>
      <p class="player"></p>
    </div>
    <div class="card-wrapper">
      <div class="table">
        <img class="card" src="./assets/poker/cards/clubs2.png">
        <img class="card" src="./assets/poker/cards/clubs2.png">
        <img class="card" src="./assets/poker/cards/clubs2.png">
        <img class="card" src="./assets/poker/cards/clubs2.png">
        <img class="card" src="./assets/poker/cards/clubs2.png">
      </div>

      <div class="hand">
        <img class="card" src="./assets/poker/cards/clubs2.png">
        <img class="card" src="./assets/poker/cards/clubs2.png">
        <div class="button-wrapper">
          <div>  
            <button class="button">Check</button>
            <button class="button">Raise</button>
            <button class="button">Pass</button>
          </div>
          <button id="quit-button" class="button">Quit</button>
        </div>
      <div class="chat">
        <div></div>
        <input type="text" id="chat-input"> 
      </div>
    </div>
  </div>
      </div>
</body>

</html>