<!DOCTYPE html>

<html>

<head>
  <title>Poker</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../assets/poker/cards.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/poker.css" />
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="scripts/poker.js" defer></script>
</head>

<body>
  <h1>Poker</h1>
  <div class="information-wrapper">
    <img src="../assets/poker/cards.png">
    <div class="login">
      <input id="username" autocomplete="off" placeholder="Name">
      <button id="login">Beitreten</button>
    </div>
  </div>
  <div class="game" style="height: 100%;">
    <div class="pList" style="text-align: center;">
      <p class="player">Jesper</p>
      <p class="player">Jandrik</p>
      <p class="player"></p>
      <p class="player">David</p>
      <p class="player"></p>
      <p class="player">Torben</p>
      <p class="player"></p>
      <p class="player"></p>
    </div>
    <div class="tisch">
      <img class="tCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
      <img class="tCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
      <img class="tCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
      <img class="tCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
      <img class="tCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
    </div>
    <div style="margin-top: 8vh; display: flex;">
      <div class="hand">
        <img class="tCards hCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
        <img class="tCards hCards" src="./assets/poker/cards/clubs2.png" width="130vw" height="auto">
      </div>
      <div style="margin-left: 20px; display: grid;">
        <div>  
          <button class="gButtons"> Check </button>
          <button class="gButtons"> Raise </button>
          <button class="gButtons"> Pass </button>
        </div>
        <button class="gButtons" style="align-self: end;"> Quite </button>
      </div>
      <div class="chat">
        
      </div>
    </div>
  </div>
</body>

</html>