<!DOCTYPE html>

<html lang="de">

<head>
  <title>Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/dashboard.css">
  <script src="scripts/dashboard.js" defer></script>
</head>

<body>
  <div class="graph"></div>
  <div class="services">
    <a href="/cloud">Cloud</a>
    <a href="/poker">Poker</a>
  </div>
</body>

</html>