<!DOCTYPE HTML>

<html lang="de">

<head>
    <title>Hilfe Fuchs</title>
    <meta charset="UTF-8">
    <meta name="author" content="David Penkowoj">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/scripts/explanation-data.js" defer></script>
    <script type="module" src="/scripts/module-loader.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/styles/explanation.css">
    <link rel="shortcut icon" href="fuchs.png" type="image/x-icon">
</head>

<body>
    <noscript>Ihr Browser unterstützt einige Features dieser Seite nicht!</noscript>
    <h1>Erklärung</h1>
    <div id="contents">
        <h2>Inhaltsverzeichnis</h2>
    </div>
    <div id="list"></div>
</body>

</html>