@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:wght@300&display=swap');

body {
  display: flex;

  margin: 0;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  background-color: #29452a;
}

/*
29452a
315031
3b623b
416d41
4c7849
*/

h1 {
  position: relative;
  display: block;

  font-size: 96px;
  margin: 0 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Zilla Slab";
}

/* LOGIN OR INFORMATION */
.information-wrapper {
  text-align: center;
}

input, button {
  margin: 4px;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  padding: 14px;
  font-size: 16px;
  color: #FFFFFF80;
  box-sizing: border-box;

  background-color: #315031;
}

input, button:hover, button:focus {
  color: #FFFFFF;
}

button:hover, button:focus {
  background-color: #416d41;
}

input::placeholder {
  color: #FFFFFF80;
}

.title-cards {
  margin: 48px 0;
  max-width: 50vw;
}

p, span {
  font-size: 24px;
  color: #FFFFFF;
  font-family: "Montserrat";
}

.information, .gamestate {
  display: none;
}

.game {
  display: none;

  height: 100vh;
  margin-left: 1vw;
  flex-direction: column;
}

.player-list {
  display: flex;

  flex-wrap: wrap;
  height: calc(4em + 4vw);
  justify-content: center;
}

.player {
  height: 2em;
  padding: 10px;
  width: 23.75vw;
  text-align: center;
  margin-bottom: 0px;
  margin: 1vw 1vw 0 0;
  box-sizing: border-box;
  background-color: #3B623B;
}

.table {
  display: flex;

  justify-content: left;
}

.card {
  margin-right: 1vw;
  width: auto;
  box-sizing: border-box;
  height: calc( calc( calc(100vh - calc(4em + 4vw)) / 2) - 4vh);
}

.hand {
  display: flex;
}

.card-wrapper {
  height: calc(100vh - calc(4em + 4vw));
}

.card-wrapper > div {
  margin-top: 1vw;
}

.button-wrapper {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.button {
  display: block;

  width: 250px;
  height: calc( calc( calc( calc( calc(100vh - calc(4em + 4vw)) / 2) - 4vh) - 20px) / 4);
  padding: 10px;
  font-size: 18px;
  margin: 0 0 5px 0 !important;
}

#quit-button {
  margin: 5px 0 0 0 !important;
}

.chat {
  position: relative;

  width: 100%;
  height: calc( calc( calc(100vh - calc(4em + 4vw)) / 2) - 4vh);  
  margin-left: 20px;
  margin-right: 42px;
  background-color: #3B623B;
}

.chat > div {
  position: absolute;

  height: calc(100% - 55px);
  width: 100%;
  overflow: auto;
}

.chat > div > p {
  font-size: 16px;
  padding-left: 1em;
}

input {
  position: absolute;

  margin: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  padding: 1em;
  box-sizing: border-box;
}

@media only screen and (max-width: 620px) {
  h1 {
    font-size: 48px;
  }

  input, button {
    width: 75vw;
    text-align: center;
  }
}