@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:wght@300&display=swap');

body {
  display: flex;

  margin: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: #29452a;
}

/*
29452a
315031
3b623b
416d41
4c7849
*/

h1 {
  position: relative;
  display: block;

  font-size: 96px;
  margin: 0 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Zilla Slab";
}

/* LOGIN OR INFORMATION */
.information-wrapper {
  text-align: center;
}

input, button {
  margin: 4px;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  padding: 14px;
  font-size: 16px;
  color: #FFFFFF80;
  box-sizing: border-box;

  background-color: #315031;
}

input, button:hover, button:focus {
  color: #FFFFFF;
}

button:hover, button:focus {
  background-color: #416d41;
}

input::placeholder {
  color: #FFFFFF80;
}

img {
  margin: 48px 0;
  max-width: 50vw;
}

p, span {
  font-size: 24px;
  color: #FFFFFF;
  font-family: "Montserrat";
}

.information, .gamestate {
  display: none;
}

.pList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  background-color: #3B623B;
  width: 22vw;
  height: 2em;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}

.tisch {
  display: flex;
  justify-content: left;
  margin-top: 8vh;
}

.tCards {
  margin: 0px;
  margin-left: 7vw;
}

.hand {
  display: flex;
}

.gButtons{
  width: 150px;
  height: 35px;
  display: block;
  margin-top: 0px;
  padding: 10px;
  font-size: 18px;
}

.chat {
  background-color: #3B623B;
  width: -moz-available;
  margin-left: 20px;
  margin-right: 42px;
  overflow: auto;
}

@media only screen and (max-width: 620px) {
  h1 {
    font-size: 48px;
  }

  input, button {
    width: 75vw;
    text-align: center;
  }
}